/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
}

/* Table styles */
.result-table {
    border-collapse: collapse;
    width: 400px;
    margin: 20px auto;
}

.result-table, th, td {
    border: 1px solid #000000;
}

th {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
}

td {
    padding: 5px;
    padding-left: 10px;
}

/* Bold text */
td.bold {
    font-weight: bold;
    text-align: center;
}

/* Result text in the footer */
td.result {
    width: 400px;
    text-align: right;
    padding-right: 5px;
}
